---
- name: Sample webserver playbook
  hosts: webservers
  become: true

  vars:
    app_package: nginx

  tasks:
    - name: Ensure apt cache is updated (Debian/Ubuntu)
      apt:
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Install web server package
      package:
        name: "{{ app_package }}"
        state: present

    - name: Create sample index.html
      copy:
        dest: /var/www/html/index.html
        content: |
          <html>
            <head><title>Sample Ansible Page</title></head>
            <body>
              <h1>Deployed by Ansible</h1>
              <p>This is just a dummy file for testing.</p>
            </body>
          </html>
      notify: restart webserver

  handlers:
    - name: restart webserver
      service:
        name: nginx
        state: restarted
